/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*colors*/
$testcolor-one: rgba(255, 216, 0, 0.47);
$testcolor-two: rgba(0, 98, 255, 0.47);
$testcolor-three: rgba(0, 255, 177, 0.47);
$testcolor-four: rgba(255, 0, 128, 0.4);
$testcolor-five: rgba(157, 0, 255, 0.4);
/*colors*/

/*FONT-FACE*/
@font-face {
    font-family: opensanslight;
    src: url('../font/opensanslight/opensans-light.eot');
    src: url('../font/opensanslight/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../font/opensanslight/opensans-light.woff2') format('woff2'),
         url('../font/opensanslight/opensans-light.woff') format('woff'),
         url('../font/opensanslight/opensans-light.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: opensans;
    src: url('../font/opensansregular/opensans-regular.eot');
    src: url('../font/opensansregular/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/opensansregular/opensans-regular.woff2') format('woff2'),
         url('../font/opensansregular/opensans-regular.woff') format('woff'),
         url('../font/opensansregular/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: opensanssemibold;
    src: url('../font/opensanssemibold/opensans-semibold.eot');
    src: url('../font/opensanssemibold/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../font/opensanssemibold/opensans-semibold.woff2') format('woff2'),
         url('../font/opensanssemibold/opensans-semibold.woff') format('woff'),
         url('../font/opensanssemibold/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: robotolight;
    src: url('../font/robotolight/roboto-light.eot');
    src: url('../font/robotolight/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../font/robotolight/roboto-light.woff2') format('woff2'),
         url('../font/robotolight/roboto-light.woff') format('woff'),
         url('../font/robotolight/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: robotomedium;
    src: url('../font/robotomedium/roboto-medium.eot');
    src: url('../font/robotomedium/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('../font/robotomedium/roboto-medium.woff2') format('woff2'),
         url('../font/robotomedium/roboto-medium.woff') format('woff'),
         url('../font/robotomedium/roboto-medium.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: robotoregular;
    src: url('../font/robotoregular/roboto-regular.eot');
    src: url('../font/robotoregular/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/robotoregular/roboto-regular.woff2') format('woff2'),
         url('../font/robotoregular/roboto-regular.woff') format('woff'),
         url('../font/robotoregular/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*END FONT-FACE*/

* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

a {
	color: #fff;
	text-decoration: none;
}

/*containers*/
.container-large {
	max-width: 1920px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.container {
	/*border: 1px solid orange;*/
	max-width: 1231px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	z-index: 9999;

	.section-topic {
		height: 115px;
		margin: 0 0 5px 0;
		padding: 45px 0 0 0;

		span {
			width: auto;
			color: #fff;
			font-size: 18px;
			font-family: opensanssemibold;
			text-transform: uppercase;
			position: relative;

			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 1px;
				width: 10000%;
				left: 130%;
				top: 50%;
				background: #a2846c;
			}
		}
	}

	.black-topic {
		span {
			color: #000;
		}
	}
}
/*end containers*/


/*HEADER*/
.header {
	width: 100%;
	height: auto;
	position: relative;

	/*- - - - - - slider - - - - - -*/
	
	.slider {
		font-size: 0%;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	/*- - - - header-text - - - - */
			.header-text {
				width: 450px;
				transform: rotate(-90deg);
				position: absolute;
				left: -90px;
				top: 55%;
				p {
					font-size: 24.4px;
					font-family: opensanslight;
					text-transform: uppercase;
					letter-spacing: 5px;
					opacity: 0.7;
					color: #fff;
				}
			}
			/*- - - - end header-text - - - - */

		/*- - - - header-social - - - -*/
		.header-social {
			height: 160px;
			position: absolute;
			right: 90px;
			top: 50%;
			z-index: 99999;

			.menu-social {
				li {
					margin-bottom: 7px;
					a i {
						opacity: 0.6;
						width: 32px;
						height: 30px;
						border-radius: 50%;
						border: 1px solid #fff;
						text-align: center;
						line-height: 32px;
						font-size: 13px;
						color: #fff;

						&:hover {
							opacity: 1;
							-webkit-transition: opacity 1s;
							transition: opacity 1s;
						}
					}
				}
			}
		}
		/*- - - - end header-social - - - -*/

	/*- - - - - - end slider - - - - - -*/

	.header-block {
		max-width: 1300px;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -650px;

		.header-block-wrapper {
			width: 100%;
			height: 100%;
			position: relative;

			/*- - - - - - header-menu - - - - - -*/

			.header-menu {
				max-width: 945px;
				width: 100%;
				height: 115px;
				margin: 25px auto 0 auto;

				ul.menu {
					position: relative;
					display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -ms-flex-pack: distribute;
				        justify-content: space-around;
				    -webkit-box-align: center;
				        -ms-flex-align: center;
				            align-items: center;

				            &:after, &:before {
				            	content: '';
				            	display: block;
				            	position: absolute;
				            	height: 1px;
				            	width: 487.5px;
				            	background: #fff;
				            }

				            &:after {
				            	right: -487.5px;
				            }

				            &:before {
				            	left: -487.5px;
				            }

				    li {
				    	a {
				    		color: #fff;
				    		font-size: 12.5px;
				    		font-family: opensanslight;
				    		opacity: 0.7;
				    		text-transform: uppercase;

				    		&:hover {
				    			opacity: 1;
				    			-webkit-transition: opacity 1s;
				    			transition: opacity 1s;
				    		}
				    	}
				    }
				}
			}
			/*- - - - - - end header-menu - - - - - -*/
		}
	}

}
/*END HEADER*/

/*PORTFOLIO*/
.portfolio {
	background: #000;
	width: 100%;
	height: 1363px; 

	.portfolio-block-wrapper {
		/*border: 1px solid blue;*/
		width: 100%;

		&:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		.portfolio-block {
			/*border: 1px solid #fff;*/
			width: 49.7%;
			height: 387px;
			float: left;
			margin: 0 3px 3px 0;

			&:hover {
				.portfolio-hover-block {
					opacity: 1;
					-webkit-transition: opacity 1s;
					transition: opacity 1s;
				}
			}

			.portfolio-hover-block {
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.7);
				position: relative;
				color: #fff;
				text-align: center;
				opacity: 0;

				.portfolio-main-text {
					width: 90%;
					font-size: 20.9px;
					position: absolute;
					top: 113px;
					left: 50%;
					margin-left: -45%;

					
					.main-text-top {
						text-transform: uppercase;
						font-family: opensanssemibold;
					}

					.main-text-bottom {
						font-family: opensanslight;
						color: #a3a0a2;
						margin: 20px 0 0 0;
					}
				}

				.portfolio-footer-text {
					width: 80%;
					font-size: 18.31px;
					position: absolute;
					bottom: 24px;
					left: 50%;
					margin-left: -40%; 

					.footer-text-top {
						text-transform: uppercase;
						font-family: opensans;
					}

					.footer-text-bottom {
						color: #d3d3d3;
						font-family: opensanslight;
						margin: 9px 0 0 0;
						border-bottom: 1px solid #a2846c;
						padding: 0 0 10px 0;
						position: relative;

						&:after, &:before {
							content: '';
							display: block;
							position: absolute;
							width: 1px;
							height: 7px;
							background: #a2846c;
						}

						&:after {
							right: 0;
							bottom: -3.5px;
						}

						&:before {
							right: left;
							bottom: -3.5px;
						}
					}
				}
			}
		}

		.first-block {
			background: url('../image/portfolio/photo1.png') no-repeat;
			background-size: cover;
		}

		.second-block {
			background: url('../image/portfolio/photo2.png') no-repeat;
			background-size: cover;
		}

		.third-block {
			background: url('../image/portfolio/photo3.png') no-repeat;
			background-size: cover;
		}

		.fourth-block {
			background: url('../image/portfolio/photo4.png') no-repeat;
			background-size: cover;
		}

		.fifth-block {
			background: url('../image/portfolio/photo5.png') no-repeat;
			background-size: cover;
		}

		.sixth-block {
			background: url('../image/portfolio/photo6.png') no-repeat;
			background-size: cover;
		}
	}

	.portfolio-resizer {
		width: 100%;
		height: 71px;
		padding-top: 23px;

		.portfolio-resizer-text {
			width: 276px;
			height: 25px;
			margin: 0 auto;
			text-align: center;
			border-bottom: 1px solid #a2846c;
			padding-bottom: 9px;
			color: #a2846c;
			font-size: 14px;
			font-family: opensans;
			position: relative;

			&:after, &:before {
				content: '';
				display: block;
				position: absolute;
				width: 1px;
				height: 6px;
				background: #a2846c; 
			}
			
			&:before {
				left: 0;
				bottom: -3.5px;
			}

			&:after {
				right: 0;
				bottom: -3.5px;
			}
		}
	}
}
/*END PORTFOLIO*/

/*ABOUT*/
.about {
	width: 100%;
	height: 625px;
	background: #fff;
	padding-bottom: 45px;

	.about-text {
		width: 660px;
		min-height: 173px;
		margin: 0 auto;

		p.main-text {
			font-size: 15.5px;
			font-family: opensans;
			line-height: 34.5px;
			color: #000;
			text-align: justify;

			span {
				color: #a6876f;
				font-size: 18.3px;
				font-family: opensanssemibold;
				letter-spacing: 1px;
			}
		}
	}

	.about-workers {
		width: 100%;
		height: 390px;
		border-bottom: 1px solid #a6876f;
		position: relative;
		margin: 40px 0 45px 0;

		&:after, &:before {
			content: '';
			display: block;
			position: absolute;
			width: 1px;
			height: 6px;
			background: #a6876f; 
			clear: both;
		}
		
		&:before {
			left: 0;
			bottom: -3.5px;
		}

		&:after {
			right: 0;
			bottom: -3.5px;
		}

		.workers-block {
			width: 305px;
			height: 390px;
			margin: 0 3px 0 0;
			float: left;

			&:last-child {
				margin: 0;
			}

			&:hover {
				.workers-hover-block {
					opacity: 1;
					-webkit-transition: opacity 1s;
					transition: opacity 1s; 
				}
			}

			.workers-hover-block {
				width: 100%;
				height: 100%;
				color: #fff;
				font-family: opensanslight;
				background: rgba(0, 0, 0, 0.7); 
				opacity: 0;

				.top-text {
					width: 90%; 
					height: 60px;
					margin: 0 auto;
					text-align: center;padding: 16px 0 0 0;
					border-bottom: 1px solid #a6876f;
					position: relative;

					&:after, &:before {
						content: '';
						display: block;
						position: absolute;
						height: 7px;
						width: 1px;
						background: #a6876f;
						bottom: -3.5px;
					}

					&:after {
						right: 0;
					}

					&:before {
						left: 0;
					}
				}

				.center-text {
					width: 89%;
					margin: 60px auto 0 auto;
					text-align: center;

					.mini-text {
						font-size: 14.4px;
						line-height: 26.4px;
						color: #acacad;
						margin: 28px 0 0 0;
					}
				}

				.mini-topic {
					font-size: 18.3px;
					text-transform: uppercase;
				}	
			}
		}

		.worker-first {
			background: url('../image/about/worker1.png') -40px -30px no-repeat;
			background-size: 150% 150%;
		}

		.worker-second {
			background: url('../image/about/worker2.png') -40px 0px no-repeat;
			background-size: cover;
		}

		.worker-third {
			background: url('../image/about/worker3.png') -40px 0 no-repeat;
			background-size: cover;
		}

		.worker-fourth {
			background: url('../image/about/worker4.png') -35px 0 no-repeat;
			background-size: cover;
		}
	}
}
/*END ABOUT*/


/*MEDIA*/
